# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
logs
natives
src/main/resources/assets/thaumicaugmentation/lang/Exlcua isso depois - Caminho até lang pt_br .txt
